/* General styling */
 body{
    overflow-x: hidden;
    background-color:white;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    line-height: 1.2;
    font-weight: 400;
    letter-spacing: 0;
    color:#242424;
}

h2{
    letter-spacing: .1rem;
}

h3{
    font-weight: 300;
}

p{
    font-family: “Nunito Sans”,sans-serif;
    font-weight: 300;
}

/* -------Navbar--------*/
 .navbar{
    padding-top:15px;
    padding-bottom:15px;
}

.navbar-dark .navbar-nav .nav-link {
    color:white;
    font-size: 1.2rem;
    letter-spacing: .1rem;
}

.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link.active{
    color: #242424 !important;
    text-decoration:underline;
    text-underline-offset: 0.4rem;
    text-decoration-color: #c7a079;
    text-decoration-thickness: 0.25rem;
}
.navbar-nav li{
    padding-right: .7rem;
}
.sticky{
    background-color:#adaeb2d1;
}

/*---------- Carousel -----------*/
.carousel-item{
    height:100vh;
    background-repeat: no-repeat;
    background-size: cover;
}

#slide1{
    background-image: url('../images/desktop1.jpg');
}
#slide2{
    background-image: url('../images/desktop2.jpg');
}
#slide3{
    background-image: url('../images/desktop3.jpg');
}

.carousel-caption{
    position:absolute;
    top:22%;
    width:100%;
    left:0;
    right:0;
}

.carousel-caption h1{
    font-size:10vw;
    font-weight:400;
    letter-spacing: .7rem;
    color:#242424;
    padding-bottom: 1rem;
}

.carousel-caption h3{
    padding-bottom: 1vw;
}

.overlay{
    position: absolute;
    top:0;
    left:0;
    height:100%;
    width:100%;
    background-color: #473f3f;
    opacity: .1;
}

/*---------Buttons-----------*/

.btn{
    border-color: #c7a079;
    border-radius: 0;
    border-width: medium;
}

.btn-lg{
    background-color: #c7a079;
    color:white;
}
.btn-md{
    background-color: transparent;
    color:#c7a079;
}
.btn-lg:hover{
    background-color: transparent;
    /* border-color: #c7a079; */
    color:white;
}
.btn-md:hover{
    background-color: #c7a079;
    color:white;
}


/*------Contact page map and form------*/
#googleMap{
    width:100%;
    height:100%;
    border:0;
}
.my-form {
    color: #242424;
}

.my-form .form-control {
    border-radius: 0;
}

.form-group{
    padding-bottom: 2vw;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    color:#242424;
    letter-spacing: 0.1rem;
}
.contact-col{
    padding-top: 2vw;
    padding-bottom: 2vw;
}


/*--------Footer section---------*/

.footer-container{
    background-color: #c2c1bc;
    display:flex;
    justify-content: center;
    align-items:center;
    padding-top: 3vh;
    padding-bottom: 3vh;
}

.footer-col{
    padding-top: 2vw;
    padding-bottom: 2vw;
    flex-basis:40%;
    text-align: center;
}
.row-inner1{
    padding-bottom: 1vw;
    align-items: center;
}
.row-inner1 h6{
    margin-bottom: 0;
}

.row-inner2 h6{
    margin-bottom: 0;
    font-weight:300;
}

.social-icon{
    padding-left: 0.5rem;
    padding-right: .5rem;
}

.footer-link{
    color:white;
    font-size: 1rem;
    letter-spacing: .1rem;
    padding-right: .7rem;
    text-decoration: none;
}

.footer-link:hover{
    color:#242424!important;
    text-decoration:underline;
    text-underline-offset: 0.2rem;
    text-decoration-color: #c7a079;
    text-decoration-thickness: 0.15rem;
}

/*-----Tablet and mobile size-----*/
@media all and (max-width: 991px){

/*---------Nav bar-------------*/
.navbar-dark .navbar-nav .nav-link {
    font-size: 1rem;
}

.container-sm{
    max-width: 850px;
} 

/*----------------Carousel---------------------*/

.carousel-caption{
    top:40%;
}

#slide1{
    background-image: url('../images/mobile1.jpg');
}
#slide2{
    background-image: url('../images/mobile2.jpg');
}
#slide3{
    background-image: url('../images/mobile3.jpg');
}

/*------Contact page------*/
#googleMap{
    height:400px;
}

/*------Footer---------*/

.footer-container{
    display: block;
    padding-top: 5vh;
    padding-bottom: 5vh;
}
.row-inner1{
    padding-bottom: 2vw;
}

} 

