/* General styling */
 body{
    overflow-x: hidden;
    background-color:white;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    line-height: 1.2;
    font-weight: 400;
    letter-spacing: 0;
    color:#242424;
}

h2{
    font-size: 36px;
    letter-spacing: .1rem;
}

h3{
    font-size: 24px;
    font-weight: 300;
}

h5{
    font-size: 16PX; 
}

p{
    font-family: “Nunito Sans”,sans-serif;
    font-size: 16px;
    font-weight: 300;
}

/* -------Navbar--------*/
 .navbar{
    padding-top:25px;
}

.navbar-dark .navbar-nav .nav-link {
    color:white;
    font-size: 20px;
    letter-spacing: .1rem;
}

.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link.active{
    color: #242424 !important;
    text-decoration:underline;
    text-underline-offset: 0.4rem;
    text-decoration-color: #c7a079;
    text-decoration-thickness: 0.25rem;
}
.navbar-nav li{
    padding-right: .7rem;
}
/*---------- Slider -----------*/
.carousel-item{
    height:100vh;
    background-repeat: no-repeat;
    background-size: cover;
}

#slide1{
    background-image: url('/images/desktop1.png');
}
#slide2{
    background-image: url('/images/desktop2.png');
}
#slide3{
    background-image: url('/images/desktop3.png');
}

.carousel-caption{
    position:absolute;
    top:22%;
    width:100%;
    left:0;
    right:0;
}

.carousel-caption h1{
    font-size:10.8vw;
    font-weight:400;
    letter-spacing: .7rem;
    color:#242424;
    padding-bottom: 1rem;
}

.carousel-caption h3{
    padding-bottom: 1vw;
}

.btn-lg{
    border-color: #c7a079;
    background-color: #c7a079;
    border-radius: 0;
    border-width: medium;
    color:white;
}
.btn-lg:hover{
    background-color: transparent;
    border-color: #c7a079;
    color:white;
}



@media all and (max-width: 991px){
.container-sm{
    max-width: 850px;
}

.carousel-caption{
    top:40%;
}

#slide1{
    background-image: url('/images/mobile1.png');
}
#slide2{
    background-image: url('/images/mobile2.png');
}
#slide3{
    background-image: url('/images/mobile3.png');
}

} 

